<!-- импорт шаблона с шапкой и подвалом -->
{% extends "base.html" %}


<!-- Здесь напонение главной стараницы сайта -->
{% block content %}
<div class="intro">
    <div class="container">
        <div class="intro_inner">
            <h1 class="intro_title">
                Всероссийская олимпиада <br> по судостроению
            </h1>
            <h5 class="intro_subtitle">
                Приуроченная к 85-летию Севмаша
            </h5>
            <h2>2024</h2>
        </div>
    </div>
</div>
{% endblock %}
