<!-- импорт шаблона с шапкой и подвалом -->
{% extends "base.html" %}


<!-- Здесь напонение главной стараницы сайта -->
{% block content %}
<div class="intro">
    <div class="container">
        <div class="intro_inner">
            <h1 class="intro_title">
                Всероссийская олимпиада <br> по судостроению
            </h1>
            <h5 class="intro_subtitle">
                Приуроченная к 85-летию Севмаша
            </h5>
            <h2>2024</h2>
        </div>
    </div>
</div>

<div class="organizers">
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo_osk.svg') }}" alt="">

        <img src="{{ url_for('static', filename='images/logo_sevmash.svg') }}" alt="">

        <img src="{{ url_for('static', filename='images/gerb_sever.svg') }}" alt="">

        <img src="{{ url_for('static', filename='images/logo_safu.svg') }}" alt="">
    </div>
</div>

<div class="section">
    <div class="container">
        <h3>Олимпиада</h3>
        <div class="about">
            <div class="about_item">
                <div class="about_text">
                    <p>
                            Всероссийская олимпиада по судостроению - это уникальное соревнование, которое пройдет в ближайшие месяцы Учащиеся со всей России смогут помериться своими знаниями
                            в области судостроения и проверить свои навыки в решении комплексных задач. Участие в олимпиаде даст возможность познакомиться с лучшими специалистами в судостроительной отрасли, узнать
                            об актуальных тенденциях и новых технологиях, а также открыть для себя новые перспективы и возможности. Не пропустите шанс стать частью этого уникального события и зарегистрируйтесь для участия в олимпиаде!
                    </p>
                </div>
            </div>
            <div class="about_item">
                <div class="about_img">
                    <img src="{{ url_for('static', filename='images/whale.png') }}" alt="Кит" class="ob_olimp_whale">
                </div>
            </div>
        </div>
        <div class="evidence">
            <div class="evidence_item">
                <img src="{{ url_for('static', filename='images/icon_map.svg') }}" alt="Регионы">
                <div class="evidence_text">
                    <h6> Участники из разных регионов страны  </h6>
                    <p> Возможность принять участие из разных уголков страны </p>
                </div>
            </div>
            <div class="evidence_item">
                <img src="{{ url_for('static', filename='images/icon_group.svg') }}" alt="Группы">
                <div class="evidence_text">
                    <h6> Разные возрастные группы  </h6>
                    <p> Участники с 3 по 11 классы, разделенные на 4 возрастные группы </p>
                </div>
            </div>
            <div class="evidence_item">
                <img src="{{ url_for('static', filename='images/icon_etap.svg') }}" alt="Этапы">
                <div class="evidence_text">
                    <h6> Два этапа мероприятия  </h6>
                    <p> Олимпиада проходит в два этапа: отборочный в онлайн формате и финальный
                        в оффлайн формате </p>
                </div>
            </div>
            <div class="evidence_item">
                <img src="{{ url_for('static', filename='images/icon_18.svg') }}" alt="Ограничения в возрасте">
                <div class="evidence_text">
                    <h6> Возраст до 18 лет</h6>
                    <p> Возраст участников ограничен 18 годами  </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="prize">
        <div class="container">
            <div class="prize_item">
                    <img src="{{ url_for('static', filename='images/prize.png') }}" alt="Главный приз">
                    <div class="prize_text">
                        <h2> Главный приз </h2>
                        <p> Поездка во всероссийский детский центр «Орлёнок» </p>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">

        <div class="modernitys">
            <h3>Воможности для участников </h3>
            <div class="modernitys_line1">
                <div class="modernitys_item">
                    <div class="modernitys_img">
                        <img src="{{ url_for('static', filename='images/cooperation.png') }}" alt="Рука">
                    </div>
                    <div class="modernitys_text">
                        <h4> Сотрудничай  </h4>
                        <p> С ведущим судостроительным предприятием России</p>
                    </div>
                </div>
                <div class="modernitys_item">
                    <div class="modernitys_img">
                        <img src="{{ url_for('static', filename='images/brain.png') }}" alt="Мозг">
                    </div>
                    <div class="modernitys_text">
                        <h4> Приобрети </h4>
                        <p> Новые знания и навыки и получи незабываемые эмоций</p>
                    </div>
                </div>
                <div class="modernitys_item">
                    <div class="modernitys_img">
                        <img src="{{ url_for('static', filename='images/ship.png') }}" alt="Корабль">
                    </div>
                    <div class="modernitys_text">
                        <h4> Изучи  </h4>
                        <p> Как устроено судостроение в России и его историю</p>
                    </div>
                </div>
            </div>
            <div class="modernitys_line2">
                <div class="modernitys_item2">
                    <div class="modernitys_img">
                        <img src="{{ url_for('static', filename='images/cap.png') }}" alt="Кубок">
                    </div>
                    <div class="modernitys_text2">
                        <h4> Выйграй  </h4>
                        <p> Главный приз и подарки от партнеров олимпиады </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="timeline">
            <h3>Этапы олимпиады </h3>
            <div class="timeline_inner">
                <div class="timeline_item">
                    <div class="data">
                        <p>До 1 ноября </p>
                        <p>1 - 8 ноября</p>
                        <p>9 ноября</p>
                        <p>10 ноября</p>
                        <p>3 декабря </p>
                    </div>
                    <div class="timeline_text">
                        <p id="priem">Прием заявок</p>
                        <p id="otbor">Отборочный этап</p>
                        <p id="itog">Подведение итога <br>отборочного этапа</p>
                        <p id="finalists">Объявление финалистов</p>
                        <p id="final">Финальный этап <br>и подведение итогов</p>
                    </div>
                    <p class="online">Онлайн</p>
                    <p class="ofline">офлайн</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="partneri">
            <h3>Партнеры </h3>
            <div>
                <img src="{{ url_for('static', filename='images/logo_library.svg') }}" alt="Библиотеки Северодвинска" class="last">
                <img src="{{ url_for('static', filename='images/logo_kvant.svg') }}" alt="Квантриум" class="last">
                <img src="{{ url_for('static', filename='images/logo_museum.svg') }}" alt="Музей" class="last">
                <img src="{{ url_for('static', filename='images/logo_shcool.svg') }}" alt="Лицей№17">
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="info">
        <div class="container">
            <div class="info_inner">
                <div class="info_item">
                    <img src="{{ url_for('static', filename='images/icon_faq.svg') }}" alt="Вопрос-ответ">
                    <h4>Вопрос - ответ</h4>
                    <p>Здесь вы найдете ответы на часто задаваемые вопросы о кейс-чемпионате</p>
                    <a class="info_link" href="/faq">посмотреть</a>
                </div>
                <div class="info_item">
                    <img src="{{ url_for('static', filename='images/icon_reglam.svg') }}" alt="Регламент">
                    <h4>Регламент олимпиады</h4>
                    <p>Здесь вы можете ознакомиться с полным регламентом мероприятия</p>
                    <a class="info_link" href="/regulations/">посмотреть</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
